@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
    .bn-container {
      a {
        color: var(--accent-color) !important;
      }
    }

    .bn-editor {
      background-color: transparent;
    }
  }
}

.bn-file-block-content-wrapper {
  max-width: var(--editor-width);
}
