@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
    .bn-container {
      a {
        color: var(--accent-color) !important;
      }
    }

    .bn-editor {
      background-color: transparent;
    }

    .bn-editor[contenteditable="true"]
      [data-file-block]
      .bn-add-file-button:hover,
    [data-file-block] .bn-file-name-with-icon:hover,
    .ProseMirror-selectednode .bn-file-name-with-icon {
      background-color: #000 !important;
    }
  }
}

.bn-file-block-content-wrapper {
  max-width: var(--editor-width);
}
